body {background: url(back.png); background-size: cover; color:white;}
#mainVideo {float:right;margin:55px 400px 0 0; padding:10px; border: 1px solid white}
#audio {float:right;margin:320px -235px 0 0; padding:5px;}
#sampler {margin:5px 10px 0 350px; padding:10px;}
.down {margin:40px 0 0 0;]
